<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(23, 137, 202);
   color: white;
   text-align: center;
}
</style>
</head>
<body>

<div class="footer">
  <a href="https://www.linkedin.com/in/subramony-m-78b267ba/" target="_blank" style="color: aliceblue;">LinkedInProfile</a>
  <p>Developed by: Subbu</p>
</div>

</body>
</html> 
