
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">


<%- include('header')-%>

<div class="container text-center">
    <form class="form-signin" data-ember-action="2">
        <h2 class="form-signin-heading">Get notified !!</h2>
        <h4 class="text-muted">Login with your google account to get notified when slots are available</h4>
        <br>
        <p>
            <a href="/auth/google"><i class="fa fa-google-plus fa-4x"></i></a>
        </p>
    </form>
</div>

<%- include('footer')-%>